body {
    background-image: url(../../img/jumbotron2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainDiv {
    position: fixed;
    margin-top: 25%;
    margin-left: 45%;
}

p {
    font-family: 'Raleway', sans-serif;
    margin-left: -40px;
    font-size: 30px;
}