/* *****************************
    Navbar
********************************* */
/* nav {
    background-color: rgb(254, 198, 57);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;

}
.navtext {
    color: black;
}
#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

nav div img {
    height: 50px;
    margin-top: -1rem;
}

.navtext {
    font-size: 2rem;
}

.navtext:hover {
    color: red;
    text-decoration: none;
}

.navtext:not(:last-child) {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1rem;
} */
/* *****************************
    Jumbotron
********************************* */
/* 

   ** photocred to Element5 Digitial **

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;" href="https://unsplash.com/@element5digital?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Element5 Digital"><span style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px;">Element5 Digital</span></a> 

*/

/* .jumbotron {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: white;
    height: 60vmax;
    background-image: url(../img/jumbotron2.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 0px;
}
.btn-xl {
    padding: 1rem 2rem;
}
.btn {
    font-weight: 700;
    border: none;
    border-radius: 300px;
    vertical-align: middle;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: rgb(206, 0, 0);
}

.title-text {
    float: left;
    margin-left: 0;
    margin-right: 2rem;
    font-size: 375%;
    font-weight: bold;
}

#calendar {
    width: 115%; */
    /* margin-right: 2rem; */
/*     
}

.quote {
    background-color: orangered;
    margin: 1.5rem 0;
}

#cal-col {
    margin-top: 4rem;
} */


/*** DERVIN STYLES ***/

/*** Global Values ***/
p {
    font-size: 1.2em;
}
p, h2, h3, h4, h5, h6 {
    color: #3c3c3c;
}
.body-bg {
    background-color: lightgray;
}
.title {
    /* border-bottom: 1px solid #3c3c3c; */
}
/*** END Global Values ***/

/*** Navbar ***/
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-brand img {
    height: 3em;
}
.logo-text h1{
    color: black;
    display: inline-block;
    font-family: 'Carter One', cursive;
    margin-bottom: 0;
    vertical-align: middle;
}
.navbar a {
    text-decoration: none;
}
.navbar-link {
    font-weight: 600;
}
/*** END Navbar ***/

/*** Index Page ***/
.jumbotron {
    background-image: url(../img/jumbotron2.jpg);
    background-position: center center;
    background-size: cover;
    height: 55vmax;
}
.jumbotron h2 {
    font-size: 5em;
    line-height: .9em;
}
.jumbotron .card {
    background-color: rgba(255, 255, 255, 0.3);
}
.jumbotron .card h2 {
    color: #ffc107;
    text-shadow: 2px 2px 2px rgb(75, 75, 75);
}
.jumbotron .card h2 strong {
    color: white;
}
blockquote p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic; 
    line-height: 1.2em;
}
#cal-col h2 {
    font-size: 2.2em;
}
#cal-col img {
    width: 100%;
}
/*** END Index Page ***/


/*** Student Portal Page ***/

/*** END Student Portal Page ***/

/*** Student Scoreboard Page ***/
#scoreboard {
    background-color: white;
    font-size: 1.2em;
}
.score {
    background-color: green;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
}
.table-col-adjust{
    text-align: center;
}
.th-sm {
    min-width: 2rem;
}
/*** END Student Scoreboard Page ***/

/*** Media Query Less Than 1200 ***/
@media screen and (max-width: 1200px) {
    .logo-text h1 {
        font-size: 1.5em;
    }
    .jumbotron h2 {
        font-size: 4.25em;
    }
    blockquote p {
        font-size: 1.2em;
        line-height: 1em;
    }
    #cal-col h2 {
        font-size: 1.5em;
    }
}

/*** Media Query Less Than 990 ***/
@media screen and (max-width: 990px) {
    .navbar-collapse {
        text-align: right;
        /* display: ; */
        /* flex-flow: row; */
    }
    .navbar .btn {
        background: none;
        border: none;
        color: #3c3c3c;
    }
    .jumbotron h2 {
        font-size: 5.25em;
        text-align: right;
    }
    blockquote p {
        font-size: 2em;
        line-height: 1.15em;
    }
    #cal-col h2 {
        margin-top: 20px;
        text-align: center;
    }
    .mtop {
        padding-top: 1.5rem!important;
    }
}

/*** Media Query Less Than 500 ***/
@media screen and (max-width: 500px) {
    .logo-text h1 {
        font-size: 1.35em;
    }
    .jumbotron .card.p-5 {
        padding: 1rem!important;
    }
     .jumbotron h2 {
        font-size: 3.25em;
        text-align: center;
    }
    blockquote p {
        font-size: 1.15em;
        line-height: 1em;
        text-align: center;
    }
}

/*** Media Query Less Than 360 ***/
@media screen and (max-width: 360px) {
    .logo-text h1 {
        font-size: 1.25em;
    }
}

/*** Media Query Less Than 320 ***/
@media screen and (max-width: 320px) {
    .logo-text h1 {
        font-size: 1em;
    }
}