/*** DERVIN STYLES ***/

/*** Global Values ***/
p {
    font-size: 1.2em;
}
p, h2, h3, h4, h5, h6 {
    color: #3c3c3c;
}
.body-gradient {
    background: linear-gradient(to bottom, aliceblue, rgb(146, 146, 160));
    height: 85vmax;
}
.title {
    /* border-bottom: 1px solid #3c3c3c; */
}
/*** END Global Values ***/

/*** Navbar ***/
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-brand img {
    height: 3em;
}
.logo-text h1{
    color: black;
    display: inline-block;
    font-family: 'Carter One', cursive;
    margin-bottom: 0;
    vertical-align: middle;
}
.navbar a {
    text-decoration: none;
}
.navbar-link {
    font-weight: 600;
}
/*** END Navbar ***/

/*** Index Page ***/
.jumbotron {
    background-image: url(./assets/img/jumbotron2.jpg);
    background-position: center center;
    background-size: cover;
    height: 55vmax;
}
.jumbotron h2 {
    font-size: 5em;
    line-height: .9em;
}
.jumbotron .card {
    background-color: rgba(255, 255, 255, 0.3);
}
.jumbotron .card h2 {
    color: #ffc107;
    text-shadow: 2px 2px 2px rgb(75, 75, 75);
}
.jumbotron .card h2 strong {
    color: white;
}
blockquote p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic; 
    line-height: 1.2em;
}
#cal-col h2 {
    font-size: 2.2em;
}
#cal-col img {
    width: 100%;
}
/*** END Index Page ***/

/*** Create account page ***/

#headingOne {
    background-color: #ffc107;
}

#headingTwo {
    background-color: #ffc107;
}
/*** END Create account page ***/

/*** Student Portal Page ***/

/*** END Student Portal Page ***/

/*** Student Scoreboard Page ***/
#scoreboard {
    background-color: white;
    font-size: 1.2em;
}
.score {
    background-color: green;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
}
.table-col-adjust{
    text-align: center;
}
.th-sm {
    min-width: 2rem;
}
/*** END Student Scoreboard Page ***/

/*** Media Query Less Than 1200 ***/
@media screen and (max-width: 1200px) {
    .logo-text h1 {
        font-size: 1.5em;
    }
    .jumbotron h2 {
        font-size: 4.25em;
    }
    blockquote p {
        font-size: 1.2em;
        line-height: 1em;
    }
    #cal-col h2 {
        font-size: 1.5em;
    }
}

/*** Media Query Less Than 990 ***/
@media screen and (max-width: 990px) {
    .navbar-collapse {
        text-align: right;
        /* display: ; */
        /* flex-flow: row; */
    }
    .navbar .btn {
        background: none;
        border: none;
        color: #3c3c3c;
    }
    .jumbotron h2 {
        font-size: 5.25em;
        text-align: right;
    }
    blockquote p {
        font-size: 2em;
        line-height: 1.15em;
    }
    #cal-col h2 {
        margin-top: 20px;
        text-align: center;
    }
    .mtop {
        padding-top: 1.5rem!important;
    }
}

/*** Media Query Less Than 500 ***/
@media screen and (max-width: 500px) {
    .logo-text h1 {
        font-size: 1.35em;
    }
    .jumbotron .card.p-5 {
        padding: 1rem!important;
    }
     .jumbotron h2 {
        font-size: 3.25em;
        text-align: center;
    }
    blockquote p {
        font-size: 1.15em;
        line-height: 1em;
        text-align: center;
    }
}

/*** Media Query Less Than 360 ***/
@media screen and (max-width: 360px) {
    .logo-text h1 {
        font-size: 1.25em;
    }
}

/*** Media Query Less Than 320 ***/
@media screen and (max-width: 320px) {
    .logo-text h1 {
        font-size: 1em;
    }
}